<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Payment</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="controller.js"></script>
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script type="text/javascript">
        Stripe.setPublishableKey('pk_test_gbhFzt0U3PY2aDcmw7Z3y0sP');
    </script>
</head>
<body ng-app="myapp" ng-controller="mainctrl" style="width: 100%; margin: 0%">
<div ng-show="show_payForm" style="position: relative; margin: 10% auto; width: 20%; height: 10%; display: block">
    <form action="#" method="POST" id="payment-form">
        <span class="payment-errors"></span>

        <div class="form-row">
            <label>
                <span>Card Number</span>
                <input type="text" size="20" data-stripe="number">
            </label>
        </div>

        <div class="form-row">
            <label>
                <span>Expiration (MM/YY)</span>
                <input type="text" size="2" data-stripe="exp_month">
            </label>
            <span> / </span>
            <input type="text" size="2" data-stripe="exp_year">
        </div>

        <div class="form-row">
            <label>
                <span>CVC</span>
                <input type="text" size="4" data-stripe="cvc">
            </label>
        </div>

        <div class="form-row">
            <label>
                <span>Billing Zip</span>
                <input type="text" size="6" data-stripe="address_zip">
            </label>
        </div>

        <input type="submit" class="submit" value="Submit Payment">
    </form>
</div>

<div ng-show="show_transactionsSucces">
    <h1>Transaction succesful</h1>

    <span class="label label-success">{{priceShow}}</span>
</div>
</body>
</html>