<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>InstaWall</title>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-route.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/animation.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script type="text/javascript">
        Stripe.setPublishableKey('pk_test_gbhFzt0U3PY2aDcmw7Z3y0sP');
    </script>

    <script src=js/homeController.js ></script>
    <script src=js/LoginCtrl.js ></script>
    <script src="js/Services.js"></script>
    <script type="text/javascript" src="js/paymentController.js"></script>

    <script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>

    <!-- We use client cookies to save the user credentials -->
    <script src="https://code.angularjs.org/1.4.5/angular-cookies.min.js"></script>

    <!-- Auth0 Lock script and AngularJS module -->
    <script src="https://cdn.auth0.com/js/lock-8.2.min.js"></script>
    <!-- angular-jwt and angular-storage -->
    <script type="text/javascript" src="https://cdn.rawgit.com/auth0/angular-storage/master/dist/angular-storage.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/auth0/angular-jwt/master/dist/angular-jwt.js"></script>

    <!-- Setting the right viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <style>
        /*body{
            background-color: rgb(0, 148, 255)
        }*/
        .container{
            background-color: rgba(255,255,255,0.5);
        }
        .thumbnail:hover{
            background-color: lightgrey;
        }
        .thumbnail{
            /*height:350px;*/
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.9);
        }
    </style>

</head>
<body ng-app ="tagshow" ng-controller ="mainctrl" ng-mouseleave="mouse_exit()" style="width: 100%; height: 100%;" ng-click="out_of_field_click()" >
<div class="main" >
    <nav class="navbar navbar-inverse" ng-show="show_home" >
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">InstaWall</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li ng-class="{active:show_home ==true}"><a ng-click="nav_Home_Click()" ng- href="#"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                    <li ng-class="{active: show_slideshow == true}" ><a href="#" ng-click="nav_Slideshow_Click()" ng-show="logedin"><span class="glyphicon glyphicon-play-circle"></span> SlideShow </a></li>
                    <form class="navbar-form navbar-left" ng-class="{active: show_slideshow == true}" ng-show="logedin">
                        <input class="form-control" type="text" placeholder="#tag" ng-model="tag">
                    </form>

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span> {{name}} <span class="caret"></span></a>
                        <ul class="dropdown-menu ">
                            <li><a href="#" ng-click="clk_login()" ng-hide="logedin">Login/ Signin</a></li>
                            <li><a href="#" ng-click="clk_logout()" ng-show="logedin">logout</a></li>
                        </ul>
                    </li>

                </ul>

            </div>
        </div>
    </nav>



    <div ng-mouseleave="mouse_out_of_fields = true;" ng-show="show_login_fields" class="Login" style="float: right;border: solid 1px #222;
     background-image: linear-gradient(to bottom,#3c3c3c 0,#222 100%); clear: both; padding: 20px; margin-top: -20px;/*margin-bottom: 1px; margin-left: 1px;*/
      background-repeat: repeat-x; border-radius: 4px; border-top: none; ">
        <form class="form-horizontal">
            <div class="input-group">
                <input class="form-control" type="email" placeholder="EMAIL" ng-model="input_login_email">
            </div>
            <br>
            <div class="input-group">
                <input class="form-control" type="password" placeholder="PASSWORD" ng-model="input_login_pass">
            </div>
            <br>
            <p style="color: #bbbbbb">{{logininfo}}</p>
            <button type="submit" class="btn btn-sm btn-block" style="display: block;" ng-click="btn_login()">Login</button>
        </form>
    </div>
    <div class="mainPage" ng-show="show_home">
        <div ng-mouseleave="mouse_out_of_fields = true;" ng-show="show_signin_fields" class="Login" style="float: right; border: solid; border-color: black;
         background-image: linear-gradient(to bottom,#3c3c3c 0,#222 100%); padding: 20px; margin-top: -20px;
          background-repeat: repeat-x; border-radius: 4px; display: block;  border-top: none;">

            <form class="form-horizontal">
                <div class="input-group">
                    <input class="form-control" type="email" placeholder="Email">
                </div>
                <br>
                <div class="input-group">
                    <input class="form-control" type="password" placeholder="Password">
                </div>
                <br>
                <div class="input-group">
                    <input class="form-control" type="password" placeholder="Password Confirm">
                </div>
                <br>
                <button type="submit" class="btn btn-sm btn-block" style="display: block;">Sign up</button>
            </form>
        </div>

        <div class="container">
            <div>
                <h1>Instawall</h1>
                <p >Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Sed sed tristique ipsum. Praesent ac rutrum elit. Donec at tellus porta, euismod ligula ac, luctus turpis. Phasellus dictum euismod ligula, ac tempor lectus mollis vitae.
                    Fusce quis aliquet sem. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    Phasellus augue metus, pharetra sed pretium ac, luctus quis metus. Suspendisse ultricies, tortor a imperdiet bibendum, sem metus suscipit tellus, quis ornare mauris quam vel arcu.
                    Suspendisse gravida ultricies tellus quis tincidunt. Morbi sit amet venenatis ex. Etiam dictum sollicitudin facilisis. Fusce vel augue velit.</p>
            </div>


            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <div class="caption">
                            <h3>Free Plan</h3>
                            <img src="" alt="...">
                            <h4>Price: FREE</h4>
                            <p>
                                -Advertisement every 10 pictures</br>
                                -1 screen live
                            </p>

                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail" > <!--onclick="location.href='#';"-->
                        <div class="caption">
                            <h3>2 Screen Plan</h3>
                            <img src="" alt="...">
                            <h4>Price: €9.99</h4>
                            <p>
                                -No more advertisements</br>
                                -2 live screens
                            </p>
                            <p>
                                <a ng-show="logedin" href="" class="btn btn-default" role="button" ng-click="Buy(999,'2 Screen Plan')">Buy</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">

                        <div class="caption">
                            <h3>10 Screen Plan</h3>
                            <img src="" alt="...">
                            <h4>Price: €19.99</h4>
                            <p>
                                -No more advertisements</br>
                                -10 screens live
                            </p>
                            <p>
                                <a ng-show="logedin"  href="" class="btn btn-default" role="button" ng-click="Buy(1999,'10 Screen Plan')">Buy</a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <div class="caption">
                            <h3>Unlimited Plan</h3>
                            <img src="" alt="...">
                            <h4>Price: €29.99</h4>
                            <p>
                                -No more advertisements</br>
                                -Unlimited screens live
                            </p>
                            <p>
                                <a ng-show="logedin" href="" class="btn btn-default" role="button" ng-click="Buy(2999,'Unlimited Plan')">Buy</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="slideshow" ng-click="slideshow_move()" ng-show="show_slideshow" style="width: 100%; background-color: #222222; position: absolute; top: 0px; left: 0px; z-index: -50; bottom: 0; " ng-style="Body_Style()" >
        <div class="images">
            <img class="image" ng-animate="'animate'" ng-src="{{slideshow_image_1}}" ng-show="slideshow_image_one" height="{{maxheight}}" style="display: block;margin: auto;align-content:center; "  >
            <img class="image" ng-animate="'animate'" ng-src="{{slideshow_image_2}}" ng-show="slideshow_image_two" height="{{maxheight}}" style="display: block;margin: auto;align-content:center;">
        </div>

        <div class="ad"  width="100%" height="{{maxheight}}" align="center" style="display: block;margin: auto;align-content:center;" ng-show="slideshow_show_ad">
            <div >
                <img class="OwnAd" style="height: 50%">
                <h1>AD IS ACTIVE!</h1>
            </div>
            <div class="amazon_ad" style="z-index:2;">

                <script class="ad_script" type="text/javascript">
                    amzn_assoc_placement = "adunit0";
                    amzn_assoc_enable_interest_ads = "true";
                    amzn_assoc_tracking_id = "tagshow-20";
                    amzn_assoc_ad_mode = "auto";
                    amzn_assoc_ad_type = "smart";
                    amzn_assoc_marketplace = "amazon";
                    amzn_assoc_region = "US";
                    amzn_assoc_linkid = "d861e543a1f677d4350972f07545b125";
                    amzn_assoc_fallback_mode = {"type":"search","value":"tech"};
                    amzn_assoc_default_category = "All";
                </script>
                <script class="ad_script" src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
            </div>
        </div>

        <div class="overlaytext" style="position: absolute;left: 50%; top: 50px;text-align: center; transform: translate(-50%,-50%);" ng-show="slideshow_show_overlay;" >
            <h2 style="color: white;">
                <span style="background-color: rgb(0,0,0);background: rgba(0,0,0,0.7);padding: 10px">Post a picture on instagram with the tag: {{tag}}</span>
            </h2>
        </div>


        <div ng-mousemove="slideshow_move()" ng-show="slideshow_show_mediabar" style="float: left; width: 100%; z-index: 20; bottom: 10%; position: absolute  " >
            <nav class="navbar navbar-inverse mediabar" >
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav full" >
                        <li class="close" ><a href="#" ng-click="slideshow_close()"><span class="glyphicon glyphicon-remove" ></span> </a></li>
                        <li ng-click="slideshow_prev()" ><a href="#"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
                        <li ng-click="slideshow_Play_Pause()" ><a href="#"><span class="glyphicon glyphicon-play" ng-hide="slideshow_isplaying"></span> <span class="glyphicon glyphicon-pause" ng-show="slideshow_isplaying"></span> </a></li>
                        <li ng-click="slideshow_next()" ><a href="#" ><span class="glyphicon glyphicon-chevron-right"></span> </a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>



</div>
<div >
    <div ng-controller="payment"  ng-show="model.show_Payment" style="width: 100%; float: left; position: absolute; top: 0; left: 0; background-color: rgba(0, 0, 0, 0.9); z-index: 50; bottom: 0; right: 0; ">
        <div ng-show="show_payForm" style=" margin: 10% auto; width: 40%; background-color: rgba(200, 200, 200, 0.5); padding: 3em; overflow: auto; min-width: 292px; max-width: 292px;" >
            <div style="float: left; left: -3em; top: -3em; display: block" >
                <label>Cost: {{priceShow}}</label>
                <br>
                <label>{{plan}}</label>
            </div>

            <div style="float: right; right: -3em; top: -3em; display: block" >
                <button class="btn btn-danger" ng-click="exitPayment(false)">X</button>
            </div>
            <form action="#" method="POST" id="payment-form" class="form-group">
                <span class="payment-errors"></span>

                <div class="form-row form-group">
                    <label>
                        <span>Card Number</span>
                        <input type="text" size="20" data-stripe="number" class="form-control" placeholder="4242 4242 4242 4242">
                    </label>
                </div>

                <div class="form-row form-group">
                    <label>
                        <span>Expiration (MM/YY)</span>
                        <input type="text" size="2" data-stripe="exp_month" class="form-control" placeholder="MM">
                        <input type="text" size="2" data-stripe="exp_year" class="form-control" placeholder="YY">
                    </label>

                </div>

                <div class="form-row form-group">
                    <label>
                        <span>CVC</span>
                        <input type="text" size="4" data-stripe="cvc" class="form-control">
                    </label>
                </div>

                <div class="form-row form-group">
                    <label>
                        <span>Billing Zip</span>
                        <input type="text" size="6" data-stripe="address_zip" class="form-control">
                    </label>
                </div>

                <input type="submit" class="submit form-control btn" value="Submit Payment" >
            </form>

        </div>

        <!--<div ng-show="show_transactionsSucces" style="width: 100%; float: left; position: absolute; top: 0; left: 0; background-color: rgba(0, 0, 0, 0.9); z-index: 50; bottom: 0; right: 0; ">
            <h1>Transaction succesful</h1>

            <label class="label label-success">{{priceShow}}</label>
        </div>-->
    </div>
</div>


<script type="text/javascript"> var infolinks_pid = 2710000; var infolinks_wsid = 0; </script> <script type="text/javascript" src="//resources.infolinks.com/js/infolinks_main.js"></script>
</body>
</html>